<h1>¿QUIÉN ES ESE POKEMÓN?</h1>
<%if @restantes.to_i != 0%>
	<h2 id="pregunta">¿<%=@pregunta%>?</h2>
<%else%>
	<h2 id="pregunta">No estoy seguro de cual es tu pokemon, ¿podemos volver a intentarlo?</h2>
<%end%>
<div id="botones">
	<%= form_tag(main_index_path, :method=>'post') do %>
	  <%unless @restantes.to_i == 1 or @restantes.to_i == 0%>
		  <%=image_submit_tag "btnSi.png", :name=>"button",:id=>"btnSi",:value=>"yes",:height => "100px"%>
  		  <%=image_submit_tag "btnIdk.png", :name=>"button",:id=>"btnNoSe",:value=>"idk"%>	
  		  <%=image_submit_tag "btnNo.png", :name=>"button",:id=>"btnNo",:value=>"no"%>
      <%end%>
	  <%=hidden_field_tag "opcion", "#{@siguientePregunta[1]}"%>
	  <%=hidden_field_tag "primeraPregunta", "#{@primeraPregunta.to_s}"%>
	  <%=hidden_field_tag "numeroPregunta", "#{@numero_pregunta}"%>
	  <%=hidden_field_tag "restantes", "#{@restantes}"%>
	  <%=hidden_field_tag "pokemones", "#{@pokemon.obtenerPokemones}"%>
	  <%if @restantes.to_i == 1%>
	  	<%numero_pokemon=eval(@pokemon.obtenerPokemones.to_s).first[0]%>
	  	<%=image_tag("#{aTresDigitos(numero_pokemon)}.png")%><br/>
	  	<input type="button" value="Jugar de nuevo" onClick="refrescar();">
	  <%elsif @restantes.to_i == 0%>
		<input type="button" value="Intentarlo de nuevo" onClick="refrescar();">
	  <%end%>
	<% end %>
</div>
<div class="centrado" id="datos">
	<h4 class="letraBlanca">Jugador: <%=cookies[:nombre]%></h4>
	<h4 class="letraBlanca">Restantes: <%=@restantes%></h4>
</div>
<script>
function refrescar(){
	 window.location.replace("http://192.168.192.128/main/index");
 }
</script>