<h1> BIENVENIDO </h1>
<h2 class="letraBlanca centrado"> Antes de comenzar a jugar, dime cual es tu nombre </h2>
<div id="botones">
	<%= form_tag(main_welcome_path, :method=>'post') do %>
	  <%= text_field_tag('nombre', value = nil, options = {})%>
	  <%= submit_tag(value = "Empezar", options = {})%>
	<% end %>
</div>