<p id="notice"><%= notice %></p>

<h1>Listing Solveds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pokemon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solveds.each do |solved| %>
      <tr>
        <td><%= solved.name %></td>
        <td><%= solved.pokemon %></td>
        <td><%= link_to 'Show', solved %></td>
        <td><%= link_to 'Edit', edit_solved_path(solved) %></td>
        <td><%= link_to 'Destroy', solved, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solved', new_solved_path %>
