<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @solved.name %>
</p>

<p>
  <strong>Pokemon:</strong>
  <%= @solved.pokemon %>
</p>

<%= link_to 'Edit', edit_solved_path(@solved) %> |
<%= link_to 'Back', solveds_path %>
