// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
    font-family:'pokemon_solidnormal';
    src: url(asset_path('pokemon_solid-webfont.eot'));
    src: url(asset_path('pokemon_solid-webfont.eot?#iefix')) format('embedded-opentype'),
         url(asset_path('pokemon_solid-webfont.woff2')) format('woff2'),
         url(asset_path('pokemon_solid-webfont.woff')) format('woff'),
         url(asset_path('pokemon_solid-webfont.ttf')) format('truetype'),
         url(asset_path('pokemon_solid-webfont.svg#pokemon_solidnormal')) format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
	margin:0;
	padding:0;
}
body{
	 background-image: url(asset_path("background.jpg"));
}
h1{
	color:yellow;
	margin:10px auto;
	text-align: center;
	font-family: "pokemon_solidnormal";
}
h2#pregunta{
	color: white;
	margin:10px auto;
	text-align: center;
}
div#botones{
	margin:10px auto;
	text-align: center;
}
div#datos{
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.letraBlanca{
	color: white;
}
.centrado{
	margin:10px auto;
	text-align: center;
}
.btnSi{
	background-image: url(asset_path("btnSi.png"));
    text-indent:30px;
    display:block;
    cursor: pointer;
}
