<!DOCTYPE html>
<html>
<head>
  <title>Pokemon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <footer>
  	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Pokemon</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% Solved.all.order('created_at DESC').each do |solved| %>
	      <tr>
	        <td><%= solved.name %></td>
	        <td><%= solved.pokemon %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
  </footer>
</body>
</html>
